body {
  background-image: linear-gradient(to right, red, blue);
  text-align: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 100px;
}

p {
  font-size: 50px;
}

button {
  padding: 20px;
}

a {
  text-decoration: none;
}

.group {
  margin-bottom: 60px;
}

/* For mobile devices (up to 767px) */
@media (max-width: 767px) {
  body {
    font-size: 16px;
    background-image: linear-gradient(to right, lightcoral, red);
  }
}

/* For tablets (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 18px;
    background-image: linear-gradient(to right, lightblue, blue);
  }
}

/* For desktops (1024px and above) */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
    background-image: linear-gradient(to right, darkgray, blue);
  }
}
